a {
    padding: 2%;
    text-decoration: none;
    color: cornflowerblue;
    font-weight: 800;
}

a:hover {
    color: cadetblue;
}

img {
    padding: 8% 15%;
}

.card:hover {
    scale: 0.94;
    transition: 1s;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}